:root {
  --main-color: #ffffff;
  --side-color: #f5f6f0;
}

* {
  margin: 0;
}

#content-container {
  background-color: var(--side-color);
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  height: 100vh;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

#searchbar {
  border: none;
  border-radius: 1rem;
}

#main-content {
  background-color: var(--main-color);
  display: grid;
  grid-template-rows: 50px 1fr 1fr;
}

#header {
  align-self: center;
  justify-self: center;
}

#forecastCalendar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
