:root {
  --main-color: #ffffff;
  --side-color: #f5f6f0;
  --odd-color: var(--side-color);
  --even-color: #ffffff;
  --hover-color: #d6d6d6;
  --small-border: 1px solid var(--hover-color);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#content-container {
  background-color: var(--side-color);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100vh;
}

#rightbar {
  box-shadow: -2px 0 3px #00000025;
}

/* --- Sidebar --- */

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 2px 0 3px #00000025;
  z-index: 1;
}

#search-form {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  gap: 1rem;
  margin-bottom: 2rem;
}

#searchbar {
  height: 20px;
  padding-left: 0.5rem;
}

#searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 100px;
  font-size: 1rem;
}

/* --- Main-content --- */

#main-content {
  background-color: var(--main-color);
  display: grid;
  grid-template-rows: 75px 2fr 1fr 1fr;
  padding: 0 4rem 1rem 4rem;
}

#header {
  justify-self: center;
  align-self: center;
}

div span {
  display: flex;
  gap: 0.5rem;
}

/* --- Calendar --- */

#forecastCalendar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);

  border-left: var(--small-border);
  border-bottom: var(--small-border);
}

.dayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  padding-top: 1rem;
  border-top: var(--small-border);
  border-right: var(--small-border);
}

.dayContainer div {
  display: flex;
  justify-items: start;
  align-items: center;
  min-height: 75px;
  gap: 1rem;
}

#forecastCalendar img {
  width: 75px;
}

:nth-child(n + 6 of .dayContainer) {
  background-color: var(--even-color);
}

:nth-child(-n + 5 of .dayContainer),
:nth-child(n + 11 of .dayContainer) {
  background-color: var(--odd-color);
}

.dayContainer:hover {
  background-color: var(--hover-color);
}

/* --- Selected Day ---*/

#selectedDayContainer {
  background-color: var(--even-color);

  display: grid;
  grid-template-columns: 225px 225px;
  justify-content: center;

  padding-top: 1rem;
  border-right: var(--small-border);
  border-bottom: var(--small-border);
  border-left: var(--small-border);
}

.leftSelectedDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.leftSelectedDay > p:first-of-type {
  position: relative;
  left: 7rem;
}

.leftSelectedDay div {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-height: 75px;
}

.leftSelectedDay img {
  width: 100px;
}

.rightSelectedDay {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: end;
  gap: 1rem;
}

/* --- Time of Day --- */

#timeOfDayContainer {
  background-color: var(--odd-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;

  border-left: var(--small-border);
}

.timeOfDayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;

  border-right: var(--small-border);
  border-bottom: var(--small-border);
}

.timeOfDayContainer div {
  display: flex;
  align-items: center;
  min-height: 75px;

  gap: 1rem;
}

.timeOfDayContainer div img {
  width: 75px;
}

/* --- Other --- */

button, #searchbar {
  border: 1px solid var(--side-color);
  border-radius: 1rem;
}

button:hover {
  border: var(--small-border);
}

.loading {
  filter: blur(4px);
}

#sidebar img,
.dayContainer,
button {
  cursor: pointer;
}

.shadow {
  box-shadow: 0 1px 2px #00000050;
}